@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --background-color: rgb(8, 10, 5);
  --text-color: rgb(234, 242, 227);
  --text-color-80: rgba(234, 242, 227, 0.8);
  --text-color-20: rgba(234, 242, 227, 0.2);
  --text-color-10: rgba(234, 242, 227, 0.1);
  --text-color-5: rgba(234, 242, 227, 0.05);
  --primary-color: rgb(111, 165, 74);
  --primary-color-60: rgba(110, 165, 74, 0.6);
  --primary-color-40: rgba(110, 165, 74, 0.4);
  --primary-color-30: rgba(110, 165, 74, 0.3);
  --primary-color-15: rgba(110, 165, 74, 0.15);
  --primary-color-5: rgba(110, 165, 74, 0.05);

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body{
  background-color: var(--background-color);
  color: var(--text-color);

  position: relative;
  overflow-x: hidden;
}

.header{
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100svw;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--background-color);

  & .nav-bar{
    width: 60%;

    padding: 1.5em 1em;

    display: flex;
    justify-content: space-around;
    align-items: center;

    & .nav-bar-link{
      font-size: 1.3em;
      color: var(--text-color);
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.container{
  margin: 0 17em;

  & .section-title{
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    padding: 1.5em 0 1em 0;
  }

  
  & .labels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;

    & .label{
      color: var(--primary-color);
      border: 3px solid var(--primary-color-30);
      background-color: var(--primary-color-5);

      padding: .3em .7em;

      text-align: center;
      font-size: .9em;

      cursor: pointer;

      &:hover{
        border: 3px solid var(--primary-color-60);
      }
    }
  }

  & #home{
    padding: 8em 0 0;

    min-height: 90svh;

    display: flex;
    flex-direction: column;
    gap: 1.5em;

    & .introduction{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2em;

      & h1{
        font-size: 4em;

        & span{
          color: var(--primary-color);
        }

        & .introduction-name{
          position: relative;

          &::after{
            content: url('./assets/underline.svg');

            position: absolute;
            top: .7em;
            left: -.5em;
          }
        }
      }
    }
  }

  & #projects{

    & .projects{
      display: flex;
      flex-direction: column;
      gap: 2em;
      
      & .project{
        display: flex;
        gap: 1.5em;
  
        padding: 1.5em;
        border-radius: 3px;
        
        color: var(--text-color);
        text-decoration: none;
  
        &:hover{
          background-color: var(--text-color-5);
        }

        & .project-cover{
          height: 200px;
          aspect-ratio: 16/11;
          object-fit: cover;
        }
  
        & .project-details{
          display: flex;
          flex-direction: column;
          gap: 1.5em;
        }

        &:nth-child(2n){
          flex-direction: row-reverse;
        }
      }
    }
  }

  & #about{
    min-height: 90svh;

    & .about{
      display: flex;
      align-items: center;
      gap: 3em;

      & .about-photo{
        width: 300px;
        aspect-ratio: 1/1;
        object-fit: cover;
      }

      & .about-text{
        font-size: 1.1em;
        line-height: 1.3em;
      }
    }
  }

  & #contact{

    & .contact-buttons{
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0 0 5em 0;

      & .contact-button{
        display: flex;
        gap: 1em;

        padding: 1.5em;
        background-color: var(--text-color-10);

        cursor: pointer;

        &:hover{
          background-color: var(--text-color-20);
        }

        &.primary{
          background-color: var(--primary-color-15);
          color: var(--primary-color);
          text-decoration: none;

          &:hover{
            background-color: var(--primary-color-30);
          }
        }

        & img{
          height: 1em;
          aspect-ratio: 1/1;
          object-fit: cover;
        }
      }
    }
  }
}

.project-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 5em;

  & .project-name{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    padding: 2em 0;
  }

  & .project-text{
    font-size: 1em;
    line-height: 1.8em;
    padding-bottom: 1.5em;
  }

  & .project-phases{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2em 0 2em 2em;

    & li {
      font-size: 1.4em;
      list-style-type: none;

      display: flex;
      flex: 0 0 calc(50% - 10px);
      gap: .5em;
      margin-bottom: .8em;
      align-items: center;

      &.tech::before{
        content: '🔨';
      }

      &::before{
        content: '💭';
        font-size: 2em;
      }
    }
  }

  & .project-image{
    width: 80%;
    aspect-ratio: 16/9;
    object-fit: cover;
    padding: 2em 0;

    &.full{
      aspect-ratio: unset;
      padding-bottom: 5em;
    }
  }

  & .project-phase{
    padding: 2em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  & .project-subtitle{
    font-size: 2em;
    padding-bottom: .5em;
  }

  & .indented{
    padding-left: 2em;
  }

  & .columns{
    columns: 2;
  }

  & .project-details{
    display: flex;
    gap: 2em;
    padding: 2em;

    & .project-info{
      border: 2px dashed var(--primary-color-60);
      padding: 2em;
    }
  }
}

.footer{
  width: 100svw;
  border-top: 2px solid var(--primary-color);
  padding: 3em 24em;
  font-size: .7em;
  font-weight: 300;
}

@media screen and (max-width: 1300px) {
  .container {
    margin: 0 10em;

    & #home {
      & .introduction {
        & h1 {
          font-size: 3.4em;
          
          & .introduction-name {
            &::after {
              left: -1.0em;
            }
          }
        }
      }
    }
  }

  .footer {
    padding: 3em 14.5em;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    margin: 0 5em;
    margin-top: 6em;

    & #home {
      min-height: 58svh;

      & .introduction {
        & h1 {
          font-size: 3.2em;
          
          & .introduction-name {
            &::after {
              content: '';

              background-image: url("./assets/underline.svg");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              width: 350px;
              aspect-ratio: 16/9;

              left: -.5em;
              top: -.7em;

            }
          }
        }
      }
    }
  }

  .project-page {
    & .project-details {
      padding: 2em 0;
    }

    /* & .project-phases {
      & li {
        height: 4em;
      }
    } */
  }
  
  .footer {
    padding: 3em 8em;
  }
}

@media screen and (max-width: 850px) {
  .container {
    & .section-title {
      font-size: 2.4em;
    }

    & #home {
      min-height: 50svh;

      & .introduction {
        & h1 {
          font-size: 2.8em;
          
          & .introduction-name {
            &::after {
              content: '';

              background-image: url("./assets/underline.svg");
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              width: 350px;
              aspect-ratio: 16/9;

              left: -.5em;
              top: -.9em;

            }
          }
        }
      }
    }

    & #about {
      min-height: 70svh;
      & .about {
        & .about-photo {
          width: 240px;
        }
      }
    }

    
    & #contact {
      & .contact-buttons {
        flex-wrap: wrap;
        
        & .contact-button {
          flex: 0 0 calc(50% - 10px);
          margin: 5px;
          justify-content: center;
        }
      }
    }

    & .project-page {
      & .project-details {
        flex-wrap: wrap;
        & .project-info {
          flex: 0 0 calc(100% - 10px);
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  body {
    padding: 0 0.1em;
  }

  .header {
    & .nav-bar {
      width: auto;
      text-align: center;
      & .nav-bar-link {
        margin-right: 0.6em;
      }
    }
  }

  .container {
    margin: 0 2em;
    & #home {
      margin-top: 4em;
      padding: 0 1.5em;
      & .introduction {
        & .job-title {
          display: inline-block;
          font-size: 0.7em;
        }
      }
    }
    
    & #projects {
      & .projects {
        & .project {
          flex-direction: column;
  
          &:nth-child(2n) {
            flex-direction: column;
          }
        }
      }
    }
    
    & #about {
      & .about {
        flex-direction: column;
        & .about-text {
          padding: 0 1.5em;
        }
      }
    }
    

    & #contact {
      & .contact-buttons {
        flex-wrap: wrap;
        
        & .contact-button {
          flex: 0 0 calc(100% - 10px);
          margin: 5px;
          justify-content: center;
        }
      }
    }
  }

  .footer {
    padding: 3em 5em;
  }

  .project-page {
    & .project-phases {
      & li {
        flex: 0 0 calc(100% - 10px);
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin: 0 2em;
    & #home {
      & .introduction {
        & h1 {
          font-size: 2.2em;

          & .introduction-name {
            &::after {
              width: 260px;
            }
          }
        }
        & .job-title {
          display: inline-block;
          font-size: 0.7em;
        }
      }

      & .labels {
        font-size: .8em;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .container {
    margin: 0 1em;
    & #home {
      & .introduction {
        & h1 {
          font-size: 2.5em;
          
          & .introduction-name {
            &::after {
              width: 300px;
            }
          }
        }
      }
    }

    & .project-page {
      & .project-text {
        padding: 0 1em;
      }
    }
  }
}